$es-blue: #2659a5;
$es-pink: #fb1fa7;

@keyframes es-pulse-L {
	0% {
		transform: scale(1) rotate(-5deg);
	}

	50% {
		transform: scale(1.2) rotate(-5deg);
	}

	100% {
		transform: scale(1) rotate(-5deg);
	}
}
@keyframes es-pulse-R {
	0% {
		transform: scale(1) rotate(5deg);
	}

	50% {
		transform: scale(1.2) rotate(5deg);
	}

	100% {
		transform: scale(1) rotate(5deg);
	}
}

body {
  margin: 0;
  padding: 0;
}

.es-rc #es-rc-content {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto:wght@400;900&family=Square+Peg&display=swap");

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
  }

  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1.2;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: rgb(37, 86, 164);
  background: -moz-linear-gradient(
    66deg,
    rgba(37, 86, 164, 1) 0%,
    rgba(74, 166, 209, 1) 100%
  );
  background: -webkit-linear-gradient(
    66deg,
    rgba(37, 86, 164, 1) 0%,
    rgba(74, 166, 209, 1) 100%
  );
  background: linear-gradient(
    66deg,
    rgba(37, 86, 164, 1) 0%,
    rgba(74, 166, 209, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2556a4", endColorstr="#4aa6d1", GradientType=1);

  .es-header {
    text-transform: uppercase;
    color: #fff;
    margin: 0;
  }

  .es-outline {
    color: transparent;
    font-kerning: normal;
    letter-spacing: 0.05em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-fill-color: transparent;
  }

  .es-kv {
    min-height: 300px;
    background-image: url("./img/bg-kv.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    &__textCtn {
      padding: 1rem;
    }

    &__header {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 700px) {
    .es-kv {
      min-height: 400px;

      &__header {
        font-size: 2.5rem;
      }
    }
  }

  .es-logo {
    background-color: $es-blue;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    &__left {
      max-width: 80%;
    }

    &__right {
      max-width: 80%;
    }
  }

  @media (min-width: 400px) {
    .es-logo {
      &__left {
        max-width: 50%;
      }

      &__right {
        max-width: 50%;
      }
    }
  }

  @media (min-width: 500px) {
    .es-logo {
      flex-direction: row;
      justify-content: space-around;

      &__left {
        max-width: 40%;
      }

      &__right {
        max-width: 40%;
      }
    }
  }

  .es-formula-shades {
    background: rgb(37, 86, 164);
    background: -moz-linear-gradient(
      66deg,
      rgba(37, 86, 164, 1) 0%,
      rgba(74, 166, 209, 1) 100%
    );
    background: -webkit-linear-gradient(
      66deg,
      rgba(37, 86, 164, 1) 0%,
      rgba(74, 166, 209, 1) 100%
    );
    background: linear-gradient(
      66deg,
      rgba(37, 86, 164, 1) 0%,
      rgba(74, 166, 209, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2556a4", endColorstr="#4aa6d1", GradientType=1);
  }

  .es-formula {
    padding: 1rem;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__header {
      font-size: 2.5rem;
    }

    &--left__img {
      padding-right: 1rem;
    }

    &--right__img {
      max-width: 80%;
      display: block;
      margin-left: auto;
      margin-bottom: 1rem;
    }

    &__logo {
      max-width: 100px;
      display: block;
      margin: auto;
      position: relative;
    }

    &__star {
      &--1 {
        display: block;
        margin: -10px 2rem 0 auto;
        max-width: 20px;
      }

      &--2 {
        display: block;
        max-width: 20px;
        margin: 0 auto 0 2rem;
      }

      &--3 {
        display: block;
        max-width: 30px;
        margin: -4rem 4rem 0 auto;
      }
    }
  }

  @media (min-width: 500px) {
    .es-formula {
      flex-direction: row;
      align-content: space-between;
      gap: unset;
      padding-top: 0;

      &--left__img {
        display: block;
        margin-left: auto;
        margin-right: -3rem;
      }

      &--right__img {
        max-width: 100%;
      }

      &__logo {
        max-width: 40%;
      }

      &__star {
        &--2 {
          margin: 1rem 8rem 0 auto;
        }

        &--3 {
          max-width: 40px;
        }
      }

      &--right {
        max-width: 50%;
      }
    }
  }

  @media (min-width: 700px) {
    .es-formula {
      &__header {
        font-size: 3.5rem;
      }
    }
  }

  .es-shades {
    &__header {
      font-size: 2.5rem;

      &--2 {
        font-size: 2.5rem;
        -webkit-text-fill-color: #fff;
        letter-spacing: 0.05em;
      }
    }

    &__headerCtn {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      position: relative;
    }

    &__headerCtn--right {
      z-index: 0;
      position: absolute;
      top: 4rem;
    }

    &__headerCtn--right .es-header:nth-child(2) {
      opacity: 0.4;
    }

    &__headerCtn--right .es-header:nth-child(3) {
      opacity: 0.3;
    }

    &__headerCtn--right .es-header:nth-child(4) {
      opacity: 0.2;
    }

    &__headerCtn--right .es-header:nth-child(5) {
      opacity: 0.1;
    }

    &__headerCtn--right .es-header:nth-child(6) {
      opacity: 0.07;
    }

    &__headerCtn--right .es-header:nth-child(7) {
      opacity: 0.05;
    }

    &__headerCtn--right .es-header:nth-child(8) {
      opacity: 0.03;
    }

    &Ctn {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      gap: 2rem;
      position: relative;
      z-index: 1;
      a {
        text-decoration: none;
      }
    }

    &__single {
      display: flex;
      flex-direction: column;
      align-items: center;
      scale: 1;
      z-index: 1;
      transition: all 400ms ease-in-out;
      &--color {
        z-index: 2;
        width: 150px;
      }

      &--pack {
        margin-top: -4rem;
        z-index: 1;
        height: 250px;
      }

      &--title {
        margin-top: -1rem;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        color: #fff;
        font-size: 0.9rem;
      }
      &:hover {
        scale: 1.05;
      }
    }
  }

  @media (min-width: 700px) {
    .es-shades {
      &__headerCtn {
        flex-direction: row;
        gap: 1rem;
      }

      &__header {
        font-size: 3rem;
        text-align: right;
        margin-right: 2rem;

        &--2 {
          font-size: 3rem;
        }
      }

      &__headerCtn--left {
        width: 50%;
        text-align: center;
      }

      &__headerCtn--right {
        z-index: 0;
        position: absolute;
        top: 1rem;
        left: 50%;
      }
    }
  }

  .es-features {
    padding: 1rem;
    background: rgb(36, 83, 163);
    background: -moz-linear-gradient(
      29deg,
      rgba(36, 83, 163, 1) 0%,
      rgba(70, 161, 205, 1) 76%
    );
    background: -webkit-linear-gradient(
      29deg,
      rgba(36, 83, 163, 1) 0%,
      rgba(70, 161, 205, 1) 76%
    );
    background: linear-gradient(
      29deg,
      rgba(36, 83, 163, 1) 0%,
      rgba(70, 161, 205, 1) 76%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2453a3", endColorstr="#46a1cd", GradientType=1);
    background-image: url("./img/bg-effects.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 500px;

    &__ribbonCtn {
      position: relative;
      width: 300px;
      height: 50px;
      margin: auto;
    }

    &__ribbon--border {
      background-color: black;
      clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);
      width: 100%;
      height: 100%;
    }

    &__ribbon {
      position: absolute;

      background-color: $es-pink;
      clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 5% 50%, 0 0);
      width: 97%;
      height: 90%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      &--txt {
        padding: 0.5rem;
        text-align: center;
        color: black;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 1.5rem;
        
      }
    }

    &__header {
      text-align: center;
      padding-top: 0.5rem;
    }

    &__featureCtn {
      color: #fff;
      text-align: center;
      font-family: "Square Peg", cursive;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 2rem;
      position: relative;
    }
    &__feature--txt {
      &--1 {
        animation: es-pulse-L 6s ease-in-out 0s infinite normal forwards;
      }
      &--2 {
        animation: es-pulse-R 6s ease-in-out 3s infinite normal forwards;
      }
      &--1:after {
        content: url("./img/arrow-1.png");
        display: block;
        position: absolute;
        left: 82%;
        top: 89%;
        transform: translate(-50%, -50%);
      }
      &--2:after {
        content: url("./img/arrow-2.png");
        display: block;
        position: absolute;
        left: 14%;
        top: 131%;
        transform: translate(-50%, -50%);
      }
    }
  }

  @media (min-width: 500px) {
    .es-features {
      min-height: 600px;
      &__featureCtn {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
      }
      &__feature--txt {
        &--1 {
          transform: rotate(-5deg);
          &:after {
            left: 30%;
            top: 231%;
          }
        }
        &--2 {
          transform: rotate(5deg);

          &:after {
            left: -5%;
            top: 285%;
          }
        }
      }
    }
  }
  @media (min-width: 850px) {
    .es-features {
      min-height: 700px;
      &__ribbonCtn {
        width: 367px;
        height: 62px;
      }
      &__ribbon--txt {
        font-size: 2rem;
      }
      &__header {
        font-size: 2.5rem;
      }
      &__featureCtn {
        font-size: 2rem;
      }
    }
  }

  .es-cross {
    padding: 1rem;
    background: rgb(34, 78, 160);
    background: -moz-linear-gradient(
      98deg,
      rgba(34, 78, 160, 1) 40%,
      rgba(74, 166, 209, 1) 100%
    );
    background: -webkit-linear-gradient(
      98deg,
      rgba(34, 78, 160, 1) 40%,
      rgba(74, 166, 209, 1) 100%
    );
    background: linear-gradient(
      98deg,
      rgba(34, 78, 160, 1) 40%,
      rgba(74, 166, 209, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#224ea0",endColorstr="#4aa6d1",GradientType=1);
    &__header {
      text-align: center;
    }
    &__pill {
      border-radius: 99px;
      outline: 2px solid #fff;
      color: white;
      background: rgb(34, 78, 160);
      background: -moz-linear-gradient(
        98deg,
        rgba(34, 78, 160, 1) 15%,
        rgba(74, 166, 209, 1) 100%
      );
      background: -webkit-linear-gradient(
        98deg,
        rgba(34, 78, 160, 1) 15%,
        rgba(74, 166, 209, 1) 100%
      );
      background: linear-gradient(
        98deg,
        rgba(34, 78, 160, 1) 15%,
        rgba(74, 166, 209, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#224ea0",endColorstr="#4aa6d1",GradientType=1);
      text-transform: uppercase;
      padding: 0.5rem 1.5rem;
      text-align: center;
      font-weight: 900;
      font-size: 1.2rem;
      margin: auto;
      &--1 {
        position: absolute;
        top: 10%;
      }
      &--2 {
        position: absolute;
        bottom: 10%;
      }
    }
    &__upperCtn {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: center;
      position: relative;
      &--single {
        display: flex;
        flex-direction: column;
        align-items: center;
       
       
        &:nth-child(1)::before {
            content: url(./img/star.png);
            display: block;
            height: 20px;
            position: absolute;
            left: 2%;
            top: 4%;
        }
        &:nth-child(2)::after {
            content: url(./img/stars.png);
            display: block;
            height: 20px;
            position: absolute;
            right: 2%;
            bottom: 50%;
        }
        &:hover .es-cross__upperCtn--img {
          scale: 1.1;
        }
      }
      &--img {
        max-height: 350px;
        scale: 1;
        transition: all 400ms ease-in-out;
      }
    }
    &__txt {
        color: white;
        font-family: "Square Peg", cursive;
        text-decoration: underline;
        font-size: 2rem;
        text-align: right;
        margin-left: auto;
        margin-right: 2rem;
        margin-block: 2rem;
        transform: rotate(5deg);
    }
    &__productsCtn {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      font-family: "Montserrat", sans-serif;
    }

    &__single {
      max-width: 200px;
      margin: 10px;
      display: grid;
      grid-template-rows: 350px 60px 200px 40px;
      &:hover .es-cross__img {
        scale: 1.05;
      }
      &:hover .es-cross__link {
        background-color: transparent;
        outline: 4px solid #e0219a;
      }
      @media (min-width: 1000px) {
        max-width: 250px;
        grid-template-rows: 350px 60px 150px 40px;
      }
    }

    &__imgCtn {
      padding: 20px;
    }

    &__img {
      margin: 0 auto;
      display: block;
      height: 100%;
      transition: all 400ms ease-in-out;
    }

    &__nameCtn {
      background-color: #000;
      min-height: 50px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
    }

    &__name {
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-weight: 900;
    }

    &__descCtn {
      padding: 10px 0;
      min-height: 160px;
    }

    &__desc {
      color: #fff;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
    }

    &__link {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 900;
      color: #fff;
      text-align: center;
      background-color: #e0219a;
      width: 200px;
      padding: 10px 20px;
      font-size: 14px;
      transition: 0.4s all ease-in-out;
      display: block;
      margin: 0 auto;

      &:hover {
        background-color: transparent;
        outline: 4px solid #e0219a;
      }
    }
  }

  .es-footer {
    width: 100%;
    background-color: $es-blue;
    padding: 20px;

    &__logo {
      margin: 0 auto;
      display: block;
      max-width: 200px;
    }
  }
  @media (min-width: 650px) {
    .es-cross {
        &__upperCtn {
            flex-direction: row;
            &--single {
                width: 250px;
                &:nth-child(1)::before {
                    top: 88%;
                    left: 4%;
                }
                &:nth-child(2)::after {
                    right: 4%;
                    bottom: 80%;
                }
            }
        }
    }
}
@media (min-width: 720px) {
    .es-cross {
        padding: 0;
        padding-bottom: 1rem;
        &__header {
            padding-top: 1rem;
        }
        &__upperCtn {
            margin-top: 2rem;
            &--single {
                width: 250px;
                &:nth-child(1)::before {
                    top: 88%;
                    left: 10%;
                }
                &:nth-child(2)::after {
                    right: 10%;
                    bottom: 80%;
                }
            }
        }
        &__txt {
            margin-right: 6rem;
            margin-bottom: 4rem;
        }
        &__productsCtn {
            background-image: url("./img/bg-cross-highlight.png");
            background-size: 110%;
            background-position: 0%;
            background-repeat: no-repeat;
            justify-content: space-around;
        }
    }
}
@media (min-width: 850px) {
    .es-cross {
        &__header {
            font-size: 2.5rem;
        }
    }
}
}
